--swiftversion 6.0
--indent 4
--linebreaks lf
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas inline
--semicolons never
--stripunusedargs closure-only
--self remove
--header ignore
--exclude .build,build,DerivedData,Packages/OpenChargeKit/.build
